<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Home</title>
</head>
<body>
    <div class="bar">Login</div>

    <div class="main">
<form action="/login" method="POST">

    <div class="usrbox">
        <label for="userName">Username</label>
        <input type="text" placeholder="Enter Username" name="userName" required>
    </div>

    <div class="passbox">
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" name="password" required>
    </div>

    <div class="buttonLogin">
        <button type="submit">Login</button>
    </div>



    

        <div class="buttonRegister">
            <button onclick="location.href = 'http://localhost:5000/register'">Create an account</button>
        </div>
</form>

    <div><h3>Create an account</h3>
        <h4>or use: <br>
            Username: DER <br>
            Password: 123456</h4>
    </div>

    </div>


</body>
</html>