<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Home</title>
</head>
<body>
    <div class="bar">Register</div>

    <div class="main">
<form action="/register" method="POST">

    <div class="usrbox">
        <label for="firstName">First Name</label>
        <input type="text" placeholder="First Name" name="firstName" required>
    </div>

    <div class="usrbox">
        <label for="lastName">Last Name</label>
        <input type="text" placeholder="Last Name (Optional)" name="lastName">
    </div>

    <div class="usrbox">
        <label for="userName">Username</label>
        <input type="text" placeholder="Username" name="userName" required>
    </div>

    <div class="emailbox">
        <label for="email">Email</label>
        <input type="text" placeholder="Email" name="email" required>
    </div>

    <div class="passbox">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" name="password" required>
    </div>

    <div class="buttonCheck">
        <button type="submit">Register</button>
        <label>
          <input type="checkbox" checked="checked" name="subscribed"> Subscribe to our newsletter!
        </label>
    </div>
</form>

    </div>

</body>
</html>